/* .primaryButton {
  background-color: #af0956;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
} */

@import '../../utils/_variables.css';

.primaryButton {
    font-family: var(--font-primary);
  font-size: var(--text-md);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
   background-color: var(--color-primary);
  color: white;
  box-shadow: var(--shadow-soft);
}

.primaryButton:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
}