@import './utils/_variables.css';

/* Container holding nav + hero */
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.active-theme {
  border: 2px solid var(--color-primary);
  background: var(--color-accent);
  color: white !important;
  font-weight: 600;
  box-shadow: 0 0 8px var(--color-primary);
  transition: 0.2s;
}

/* CTA button */
.cta-button {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: var(--radius-full);
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(175, 9, 86, 0.3);
  transition: all 0.3s ease;
  z-index: 10; /* ensure on top of blurred background */
}

.cta-button:hover {
  transform: translateY(-3px);
  background: var(--color-primary-hover);
  box-shadow: 0 12px 20px rgba(175, 9, 86, 0.4);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
  border-radius: var(--radius-md);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: var(--radius-full);
  border: 2px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-corner {
  background: var(--color-bg);
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
}


